# Ensure pnpm is used
package-manager=pnpm

# Configure Bryntum registry
@bryntum:registry=https://npm.bryntum.com

# Set npm registry to default for other packages
registry=https://registry.npmjs.org/ 